%header
  = render partial: "shared/flash_messages"
  - if @shard_languages.empty?
    .alert.alert-warning= translate('author.static_page.no_languages_alert')
  - else
    %div.pull-right
      %a{ href: new_author_static_page_path, class: %w(btn btn-inverse)}
        %i.icon-white.icon-plus
        = translate('author.static_page.new')
  %h1
    %i.icon48-page
    = translate('author.static_page.listing')

%section.content
  %table.table.table-striped.data
    %tr
      %th= Content.human_attribute_name(:title)
      %th= Language.model_name.human
      %th= StaticPage.human_attribute_name(:created_at)
      %th= translate('global.actions')
  
    - @static_pages.each do |page|
      %tr
        %td.operation
          = link_to page.default_content_for_shard(@current_shard).title, edit_author_static_page_path(page)
          %span.actions
            = link_to translate('global.edit'), edit_author_static_page_path(page)
            = link_to translate('global.destroy'), [:author, page], :confirm => 'Are you sure?', :method => :delete
        %td
          - page.contents.each do |content|
            %span.small.gray.domen
              = content.shard_language.domain unless content.shard_language.nil?
              %span.badge= content.shard_language.language.code
        %td
          %span.small.light-gray
            = page.created_at.to_s(:long)
        %td{class: "operations"}
          - if page.contents.size > 0
            - cnt=page.default_content_for_shard(@current_shard)
            %a{ href: ('http://'+cnt.shard_language.domain+(([80,443].include?(request.port)) ? '':':'+request.port.to_s)+static_page_path(page.permalink)), class: %w(blacklink) }
              = t("author.post.preview")
              %i.icon.icon-share
         