%header
  - if @picasa.nil?
    = link_to("Authenticate Picasa", @url, :class => %w(btn btn-info))
  - else
    %div.pull-right
      %a{ href: new_author_album_path , class: %w(btn btn-inverse)}
        %i.icon-white.icon-plus
        = t('author.album.new')
    = render partial: "shared/flash_messages"
  %h1
    %i.icon48-album
    = t('author.album.listing')
  - unless @picasa.nil?
    = link_to t('author.album.visit_site'), "https://profiles.google.com/#{@picasa.user.user}/photos", :target => :blank, :class => %w(blacklink external)

%section.content
  %table.table.table-striped.data
    %tr
      %th= Album.model_name.human#attribute_name(:name)
      %th
        %span.nowrap
          = t('author.album.photo.count')
      %th= t('global.actions')
    - @albums.each do |album|
      %tr
        %td= link_to album.title, author_album_photos_path(album.id)
        %td= "#{album.photos.count} photos"
        %td
          = link_to t('global.destroy'), [:author, album], :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)
          - if album.hidden
            = link_to t('author.album.show'), author_album_hidden_path(album), class: %w(btn btn-small btn-primary)
          - else 
            = link_to t('author.album.hide'), author_album_hidden_path(album), class: %w(btn btn-small)