- if @shard_languages.empty?
  .alert.alert-warning= translate('author.post.no_languages_alert')
- else
  = link_to translate('author.video.new_official'), new_author_video_path(:stream => Account::STREAMS.invert[:official], youtube: youtube), class: %w(btn)
  = link_to translate('author.video.new_personal'), new_author_video_path(:stream => Account::STREAMS.invert[:personal], youtube: youtube), class: %w(btn)
= link_to(translate('author.video.syncronize'), syncronize_author_videos_path(youtube: youtube), confirm: 'Are you sure?', class: %w(btn btn-info)) if youtube
%br
%br

%table.table.table-striped
  %tr
    %th Video
    %th Title
    %th Uploaded
    %th= translate('global.actions')

  - videos = youtube ? @videos.youtube : @videos.not_youtube
  - videos.each do |video|
    %tr
      %td
        - if video.youtube_id?
          - if video.preview?
            %a{ href: video.url, target: "_blank" }= image_tag(video.preview)
          - else
            = t('author.video.processing')
        - elsif !video.youtube? && video.job_ids.nil?
          = image_tag video.preview, width: 120, height: 90
        - else
          in progress
      %td
        = "#{video.title} (#{video.length})"
        %br
        = "#{t('author.stream.title')}: #{t('author.stream.'+Account::STREAMS[video.stream].to_s)}"
        %br
        =# "#{Language.model_name.human}: #{video.shard_language.name}"
      %td= video.created_at.to_s(:long)
      %td
        = link_to translate('global.edit'), edit_author_video_path(video), class: %w(btn btn-small)
        - if video.youtube_id.nil? && video.youtube?
          = link_to translate('author.video.upload'), upload_author_video_path(video), class: %w(btn btn-primary btn-small)
        = link_to translate('global.destroy'), [:author, video], :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)