= javascript_include_tag "author/photos"
%header
  %a{ href: sync_album_photos_path(@album), class: %w(btn btn-info pull-right)}
    %i.icon-white.icon-refresh
    = t('author.album.photo.synchronize')
  %h1= t('author.album.photo.listing')
.row-fluid
  .span12
    = render partial: "author/shared/flash_messages"
    - bc([[t('author.home'), root_path], [t('author.album.listing'), albums_path], [@album.title]])

.content
  = render 'upload_form'
  %ul#photos.thumbnails
    - @photos.each do |photo|
      = render 'photo', photo: photo
