%h2= t("author.import.caption")
.box.white.padded
  %table.table.data.prefs.feeds
    - if @streams.count == 2
      %thead
        %tr
          %th
          %th
            %span.badge.badge-blog= t("author.post.list_personal")
          %th
            %span.badge.badge-news= t("author.post.list_official")
    %tbody
      - @accounts.each do |service|
        - service[1].each do |lang|
          %tr
            %td
              %span{ class: "shared #{service[0]}"}
              %br
              - sl = ShardLanguage.find_by_id(lang[0])
              = sl.domain if sl
            - if lang[1].kind_of? Account
              %td{ colspan: @streams.count }
                - lang[1].stats.each do |stat|
                  = t("author.import.params.#{stat.first}") + ": #{stat.last}"
                  %br
                - unless lang[1].social_drafts_count.zero?
                  = t("author.social_draft.imported") + ":"
                  = lang[1].social_drafts_count
            - else
              - @streams.each do |stream|
                %td
                  - puts lang[1][stream].inspect
                  - if lang[1][stream]
                    - lang[1][stream].stats.each do |stat|
                      = t("author.import.params.#{stat.first}") + ": #{stat.last}"
                      %br
                    - unless lang[1][stream].social_drafts_count.zero?
                      = t("author.social_draft.imported") + ":"
                      = lang[1][stream].social_drafts_count