.box.white.padded
  %ul.import-info
    - if can? :blog, Post.new(shard_id: @current_shard.id)
      %li
        .pull-right            
          = link_to(blog_posts_path, class: %w(badge badge-blog), "data-original-title" => t('author.dashboard.statistics.posts'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-file
            = @statistics[:blog]
        = link_to t('author.dashboard.statistics.posts'), blog_posts_path
    - if can? :news, Post.new(shard_id: @current_shard.id)
      %li
        .pull-right
          = link_to(news_posts_path, class: %w(badge badge-news), "data-original-title" => t('author.dashboard.statistics.news'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-list-alt
            = @statistics[:news]
        = link_to t('author.dashboard.statistics.news'), news_posts_path
    - if can? :manage, Event.new(shard_id: @current_shard.id)
      %li
        .pull-right
          = link_to(events_path, class: %w(badge), "data-original-title" => t('author.dashboard.statistics.events'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-time
            = @statistics[:events]
        = link_to t('author.dashboard.statistics.events'), events_path
    - if can? :manage, Album.new(shard_id: @current_shard.id)
      %li
        .pull-right
          = link_to(albums_path, class: %w(badge), "data-original-title" => t('author.dashboard.statistics.albums'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-camera
            = @statistics[:albums]
        = link_to t('author.dashboard.statistics.albums'), albums_path
    - if can? :manage, Video.new(shard_id: @current_shard.id)
      %li
        .pull-right
          = link_to(videos_path, class: %w(badge), "data-original-title" => t('author.dashboard.statistics.videos'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-film
            = @statistics[:videos]
        = link_to t('author.dashboard.statistics.videos'), videos_path
    - if can? :manage, AudioAlbum.new(shard_id: @current_shard.id)
      %li
        .pull-right
          = link_to(audio_albums_path, class: %w(badge), "data-original-title" => t('author.dashboard.statistics.audio'), rel: "tooltip", "data-placement" => "top") do |link|
            %i.icon-white.icon-volume-up
            = @statistics[:audio_albums]
        = link_to t('author.dashboard.statistics.audio_albums'), audio_albums_path
    -# - if can? :manage, StaticPage.new(shard_id: @current_shard.id)
    -#   %li
    -#     .pull-right
    -#       = link_to @statistics[:static_pages], static_pages_path
    -#     = link_to t('author.dashboard.statistics.static_pages'), static_pages_path
