%header
  %h1= t('author.dashboard.dashboard')
%section.dashboard
  .row-fluid
    .span6
      .row-fluid
        %h2.inline-block 
          = t('author.dashboard.statistics.capture')
        %a.help{ href: "#", "data-original-title" => t('author.dashboard.statistics.capture_tooptip'), rel: "tooltip", "data-placement" => "right" }
          %i.icon-white.icon-info-sign
        .form-options
          .row-fluid
            .span6
              = render partial: "statistics", statistics: @statistics
            .span6
              = render partial: "comments"
          -# = render partial: "last_comments"
      
        %h2.inline-block 
          = t('author.dashboard.future_posts.capture')
        %a.help{ href: "#", "data-original-title" => t('author.dashboard.future_posts.capture_tooptip'), rel: "tooltip", "data-placement" => "right" }
          %i.icon-white.icon-info-sign
      .form-options
        .row-fluid
          .span6
            = render partial: "drafts", drafts: @drafts
          .span6
            = render partial: "last_pending"       
    .span6
      %h2.inline-block 
        = t('author.dashboard.last_posts.capture')      
      %a.help{ href: "#", "data-original-title" => t('author.dashboard.last_posts.capture_tooptip'), rel: "tooltip", "data-placement" => "right" }
        %i.icon-white.icon-info-sign
      .form-options
        = render partial: "posts"
      %h2.inline-block 
        = t("author.import.caption")
      %a.help{ href: "#", "data-original-title" => t('author.import.capture_tooptip'), rel: "tooltip", "data-placement" => "right" }
        %i.icon-white.icon-info-sign
      .form-options
        = render partial: "import"
      -# %h2.inline-block 
        -# = t('author.ga.capture')
      -# %a.help{ href: "#", "data-original-title" => t('author.ga.capture_tooptip'), rel: "tooltip", "data-placement" => "right" }
        -# %i.icon-white.icon-info-sign
      -#.form-options       
        -# = render partial: "google_analytics", reports: @reports, accounts: @accounts if @current_shard.settings.has_site