= javascript_include_tag "terminals"
%h1= translate('admin.language.listing')

= render partial: "shared/flash_messages"
%br
%br

%table.table.table-striped.data
  %tr
    %th= Language.model_name.human#attribute_name(:name)
    %th= t('author.stream.personal')
    %th= t('author.stream.official')

  - @languages.each do |language|
    %tr
      %td= language.name
      - [:personal,:official].each do |stream|
        %td{:class => stream}
          - language.accounts.stream(stream).each do |account|
            .service
              = account.provider + "(#{account.service.name})"
              = link_to 'terminals', [:author, language, account, :terminals]
              ,
              = link_to 'remove', [:author, language, account], :confirm => 'Are you sure?', :method => :delete
            %br
          - language.virgin_services_for_stream(stream).each do |service|
            .service
              = service.name
              = link_to("connect", author_shard_language_link_service_path({shard_language_id: language.id,
                                                                      stream: Account::STREAMS.invert[stream], 
                                                                      code: service.code}), class: service.password_auth ? "password_auth" : "")
              = render('form', account: Account.new(service_id: service.id, stream: Account::STREAMS.invert[stream], shard_language_id: language.id, provider: service.code), language: language) if service.password_auth
            %br