%h1= translate('author.terminals.listing')

= render partial: "shared/flash_messages"

= link_to translate('author.terminals.new'), new_author_shard_language_account_terminal_path, class: %w(btn)
%br
%br

%table.table.table-striped.data
  %tr
    %th= Terminal.model_name.human#attribute_name(:name)
    %th= translate('author.terminals.info')
    %th= translate('global.actions')

  - @terminals.each do |terminal|
    %tr
      %td= terminal.name
      %td= terminal.identifier
      %td
        = link_to translate('global.edit'), [:edit, :author, @shard_language, @account, terminal], class: %w(btn btn-small)
        = link_to translate('global.destroy'), [:author, @shard_language, @account, terminal], :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)
