%h1= translate('author.shard_users.listing')

= render partial: "shared/flash_messages"

= form_tag(add_author_shard_users_path(@shard)) do
  = label_tag :user_email, 'Add user by email'
  = text_field_tag :user_email
  %br
  = submit_tag "Add"
%br
%br

%table.table.table-striped.data
  %tr
    %th= User.model_name.human#attribute_name(:name)
    %th= t('global.actions')

  - @current_shard.assignments.for_role(:author).each do |a|
    %tr
      %td{:class => "name"}
        = a.user.email
        as
        %strong= a.role.name
      %td{:class => "operations"}
        = link_to t('global.revoke'),  revoke_author_shard_user_path(a), :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)
