%div{ class: "content_form content_form_#{info.shard_language_id} clearfix form-options", style: info.shard_language_id == @shard_languages.first.id ? nil : "display:none" }
  - event_info_id = info.id || Digest::MD5.hexdigest(Random.rand.to_s)
  = hidden_field_tag "event[infos_attributes][#{event_info_id}][id]", info.id
  = hidden_field_tag "event[infos_attributes][#{event_info_id}][shard_language_id]", info.shard_language_id
  .row-fliud
    .span6
      .control-group{ class: (info.errors.get(:city).nil? or info.errors.get(:city).empty? ? "" : "error") }
        %label{ for: "event_infos_attributes_#{event_info_id}_city" }= EventInfo.human_attribute_name(:city)
        .controls
          = text_field_tag "event[infos_attributes][#{event_info_id}][city]", info.city, class: %w(span12)
          %span.help-inline= info.errors.get(:city).join(', ') unless info.errors.get(:city).nil?
    .span6  
      .control-group
        %label{ for: "event_infos_attributes_#{event_info_id}_place" }= EventInfo.human_attribute_name(:place)
        .input= text_field_tag "event[infos_attributes][#{event_info_id}][place]", info.place, class: %w(span12)
    .span4 
  .row-fliud
    .span12
      .control-group{ class: (info.errors.get(:title).nil? or info.errors.get(:title).empty? ? "" : "error") }
        %label{ for: "event_infos_attributes_#{event_info_id}_title" }= EventInfo.human_attribute_name(:title)
        .controls
          = text_field_tag "event[infos_attributes][#{event_info_id}][title]", info.title, class: %w(span12)
          %span.help-inline= info.errors.get(:title).join(', ') unless info.errors.get(:title).nil?
      .control-group
        %label{ for: "event_infos_attributes_#{event_info_id}_desc" }= EventInfo.human_attribute_name(:desc)
        - if Rails.env.test? || Rails.env.cucumber?
          .input= text_area_tag "event[infos_attributes][#{event_info_id}][desc]", info.desc, 'data-content-id' => "#{event_info_id}"
        - else
          .controls= text_area_tag "event[infos_attributes][#{event_info_id}][desc]", info.desc, :cols => 10, :rows => 10, class: %w(span8 wysiwyg w), 'data-content-id' => "#{event_info_id}"
      -# - unless info.social_contents.empty?
      -#         .accordion.connections.event-connetions
      -#           - info.social_contents.each do |social_content|
      -#             = render "social_content", info: info, social_content: social_content, event_info_id: event_info_id
      - unless info.accounts_for_events.empty?
        .accordion.connections#social_connections
          - info.accounts_for_events.each do |account|
            - next if (account.terminal_ids & info.social_contents.map{ |sc| sc.terminal.id }).empty?
            = render "account", account: account, info: info, event_info_id: event_info_id
      
      .control-group{ class: (info.errors.get(:tickets_url).nil? or info.errors.get(:tickets_url).empty? ? "" : "error") }
        .row-fluid
          .span6 
            %label{ for: "event_infos_attributes_#{event_info_id}_tickets_url"}= EventInfo.human_attribute_name(:tickets_url)
            .controls.urls
              .input-prepend
                %label.add-on
                  %input#buy_tickets{ type: "checkbox", checked: ("checked" unless info.tickets_url.to_s == "") }
                = text_field_tag "event[infos_attributes][#{event_info_id}][tickets_url]", info.tickets_url, class: %w(span10), disabled: (info.tickets_url.to_s == "")
                %p.help-block Example: http://www.example.com/concert1221
          .span6   
            %label{ for: "event_infos_attributes_#{event_info_id}_tickets_price"}= EventInfo.human_attribute_name(:tickets_price)
            = text_field_tag "event[infos_attributes][#{event_info_id}][tickets_price]", info.tickets_price, class: %w(span10), disabled: (info.tickets_url.to_s == "")
            %p.help-block Example: $150-300
            %span.help-inline= info.errors.get(:tickets_url).join(', ') unless info.errors.get(:tickets_url).nil?
