%header

  = render partial: "shared/flash_messages"
  %div.pull-right
    %a{ href: new_event_path , class: %w(btn btn-inverse)}
      %i.icon-white.icon-plus
      = translate('author.event.new')


  %h1
    %i.icon48-event
    = translate('author.event.listing')
%section.content
  %table.table.table-striped.data
    %tr
      %th= EventInfo.human_attribute_name(:title)
      %th= Event.human_attribute_name(:starts_at)
      %th= EventInfo.human_attribute_name(:city)
      %th= EventInfo.human_attribute_name(:place)
      %th= translate('global.status')

    - @events.each do |event|
      %tr
        %td
          = link_to "#{event.infos.first.title}", edit_event_path(event)
          %span.actions
            = link_to translate('global.edit'), edit_event_path(event)
            = link_to translate('global.destroy'), [event], :confirm => 'Are you sure?', :method => :delete
        
        %td
          %span.small
            %strong
              = event.starts_at.to_s(:long) if event.starts_at

        %td
          .label.label-success
            %i.icon-white.icon-map-marker
            = event.infos.first.city
        %td= event.infos.first.place
        %td
