.accordion-group{ "data-account" => account.id }
  .accordion-heading.btn-box.clearfix
    %ul.nav.nav-pills.actions
      %li
        %a.link{ href: "#account#{account.id}", "data-terminal" => account.id }= t('global.params')
      %li
        = link_to([:settings, account], :confirm => 'Are you sure?', class: %w(link delete), remote: true, :method => :delete) do
          = t('global.destroy')
          %span.badge.badge-important !
    %a.accordion-toggle.btn-user.user{ href: "#collapse#{account.id}", "data-terminal" => account.id }
      = image_tag (account.avatar.nil? ? "author/user-empty.png" : account.avatar)
      %i.icon-social16{ class: account.service.code }
      %strong= account.name
  .accordion-body.collapse.in{ id: "collapse#{account.id}", style: "display: none;" }
    .accordion-inner
      -# %ul.options
      %ul.terminals{ "data-terminal" => account.id }= image_tag "author/ajax-loader.gif", style: "position: relative; left: 50%; margin: 5px 5px 5px -15px"