.form-options.add-terminal{ style: "display: none", "data-terminal-id" => (terminal.new_record? ? terminal.object_id : terminal.id) }
  = form_for [:settings, terminal.account, terminal], remote: true, html: { class: %w(form-inline) } do |f|
    .clearfix
      = f.hidden_field :account_id
      = f.label :name, class: %w(control-label wall)
      = f.text_field :name, class: %w(input-middle)
      - unless terminal.identifier == "wall"
        = f.label :identifier, "ID"
        = f.text_field :identifier, class: %w(input-small)
    - if @current_shard.shard_languages.count > 1
      .clearfix.feed-attach
        - @current_shard.shard_languages.each do |sl|
          %label.label.label-input{ class: (sl.language.code == "ru" ? "label-domain" : "label-domain")}
            = hidden_field_tag "terminal[shard_language_ids][]", nil
            = check_box_tag "terminal[shard_language_ids][]", sl.id, terminal.shard_languages.include?(sl)
            = sl.language.name
    - if @streams.count > 1
      .clearfix.feed-attach
        - @streams.each do |stream|
          %label.label.label-input{ class: (stream == :personal ? "label-blog" : "label-news")}
            = hidden_field_tag "terminal[streams][]", nil
            = check_box_tag "terminal[streams][]", stream, terminal.streams.include?(stream)
            = stream == :personal ? "Экспорт блога" : "Экспорт новостей"
    .clearfix.save-id
      = f.submit t('global.save'), remote: true, class: %w(btn btn-primary)
      = link_to t('global.cancel'), settings_path, class: %w(btn)