.clearfix
  %ul.pull-right.nav.nav-pills.actions
    %li
      - if terminal.new_record?
        - if !["Группа", "Страница", "Событие"].keep_if{|v| terminal.name.include? v}.empty? && @current_shard.has_free_tariff?
          = link_to t('author.terminals.connect'), "#", class: %w(link terminal-connect-fail), "data-terminal-id" => terminal.object_id
        - else
          = link_to t('author.terminals.connect'), "#", class: %w(link terminal-connect), "data-terminal-id" => terminal.object_id
      - else
        = link_to t('global.params'), [:edit, :settings, terminal.account, terminal], class: %w(link terminal-params)
    %li
      - unless terminal.new_record?
        = link_to([:settings, terminal.account, terminal], confirm: 'Are you sure?', class: %w(link delete), remote: true, method: :delete) do
          = t('global.destroy')
          %span.badge.badge-important !
  %a.terminal-name
    %i.icon @
    = terminal.name
= render "author/settings/terminals/form", terminal: terminal