.btn-group.pull-right.add-connect
  %button.btn.btn-primary.dropdown-toggle{ "data-toggle" => "dropdown" }
    = t('author.settings.add_account')
    %span.caret
  %ul.dropdown-menu
    - Service.all.each do |service|
      - next if !@current_shard.accounts.where('provider = ?', service.code).empty? and ["picasa", "youtube", "google_analytics"].include?(service.code)
      - case service.code
      - when "picasa"
        - url = Picasa.authorization_url(authorize_albums_url)
      - else
        - url = settings_link_service_path(code: service.code)
      %li
        %a{ href: (service.password_auth ? "#service-modal-#{service.code}" : url), "data-toggle" => ("modal" if service.password_auth) }
          %i.icon-social16{ class: service.code }
          = service.name
%h2 Мои аккаунты в соцсетях
#accordion2.accordion.connections
  - @accounts.each do |account|
    = render "author/settings/accounts/account", account: account

- if @account && !%w(picasa youtube google_analytics).include?(@account.provider)
  = link_to "", "#account-modal#{@account.id}", "data-toggle" => "modal", style: "display: none"
  - content_for :modal do
    = render 'connection_modal', account: @account
  :coffeescript
    jQuery ->
      $("a[href=#account-modal#{@account.id}]").click()
- Service.all.each do |service|
  - next unless service.password_auth
  - content_for :modal do
    = render 'connection_modal', account: Account.new(service_id: service.id, provider: service.code)

-# .block{ style: "display: none"}
-#   %table.table.data.prefs.feeds
-#     %tbody
-#       - @languages.each do |language|
-#         %tr.table-header
-#           %td{ colspan: 3 }
-#             %h3
-#               = language.name
-#               -# %span.badge.default= language.language.name.downcase
-#         - @streams.each do |stream|
-#           - language.accounts.stream(stream).each do |account|
-#             %tr
-#               %td
-#                 %span{ class: "shared #{account.provider}"}
-#                 %span.badge{class: (stream == :personal ? "badge-blog" : "badge-news")}= stream
-#               -# = account.provider + "(#{account.service.name})"
-#               %td
-#                 = account.name
-#                 -# = link_to 'terminals', [:author, language, account, :terminals], class: %w(small dotted graylink)
-#               %td{ class: "#{account.provider} #{stream} #{language.language.name.downcase}"}
-#                 %div.actions.visible
-#                   = link_to 'terminals', [:settings, account, :terminals], class: %w(link)
-#                   = link_to([:settings, account], :confirm => 'Are you sure?', class: %w(link delete), :method => :delete) do
-#                     = t('global.destroy')
-#                     %span.badge.badge-important !
-#           - Service.find_all_by_social(true).each do |service|
-#             %tr
-#               %td
-#                 %span{ class: "shared #{service.code}"}
-#                 %span.badge{class: (stream == :personal ? "badge-blog" : "badge-news")}= stream
-#               %td{ class: "#{service.code} #{stream} #{language.language.name.downcase}"}
-#                 = link_to("connect", settings_shard_language_link_service_path({shard_language_id: language.id,
-#                                                                       stream: Account::STREAMS.invert[stream],
-#                                                                       code: service.code}), class: service.password_auth ? "password_auth link create" : "link create")
-#                 = render('author/settings/shard_languages/form', account: Account.new(service_id: service.id, stream: Account::STREAMS.invert[stream], shard_language_id: language.id, provider: service.code), language: language) if service.password_auth
-#               %td
