= javascript_include_tag "terminals"
%h2 Трансляции в соцсетях
.box
  %table.table.data.prefs.feeds
    %tbody
      - @languages.each do |language|
        %tr.table-header
          %td{ colspan: 3 }
            %h3
              = language.domain
              %span.badge.default= language.language.name.downcase
        - [:personal,:official].each do |stream|
          - language.accounts.stream(stream).each do |account|
            %tr
              %td
                %span{ class: "shared #{account.provider}"}
                %span.badge{class: (stream == :personal ? "badge-success" : "badge-info")}= stream
              -# = account.provider + "(#{account.service.name})"
              %td
                -# = link_to 'terminals', [:author, language, account, :terminals], class: %w(small dotted graylink)
              %td
                %div.actions.visible
                  = link_to 'terminals', [:settings, language, account, :terminals], class: %w(link)
                  = link_to([:settings, language, account], :confirm => 'Are you sure?', class: %w(link delete), :method => :delete) do
                    = t('global.destroy')
                    %span.badge.badge-important !
          - language.virgin_services_for_stream(stream).each do |service|
            %tr
              %td
                %span{ class: "shared #{service.code}"}
                %span.badge{class: (stream == :personal ? "badge-success" : "badge-info")}= stream
              %td
                = link_to("connect", settings_shard_language_link_service_path({shard_language_id: language.id,
                                                                      stream: Account::STREAMS.invert[stream],
                                                                      code: service.code}), class: service.password_auth ? "password_auth link create" : "link create")
                = render('author/settings/shard_languages/form', account: Account.new(service_id: service.id, stream: Account::STREAMS.invert[stream], shard_language_id: language.id, provider: service.code), language: language) if service.password_auth
              %td
