%header
  %h1.lightbig Настройки

.clearfix
  = render partial: "author/shared/flash_messages"
%section.content.settings
  .row-fluid
    .span6
      = render partial: 'api_keys', api_keys: @api_keys
      = render partial: 'social_connections', languages: @languages
    .span6
      = render partial: 'other_connections', connections: @other_connections
      = render partial: 'users', assignments: @assignments