- post ||= @post
%tr{:class => "#{post.stream_name}"}
  %td{class: "operation title"}
    - if post.contents.size > 0
      - cnt=post.default_content_for_shard(@current_shard)
      - title=cnt.title.strip.empty? ? t('author.post.no_title') : cnt.title
      = link_to title, edit_post_path(post)
    - else
      n/a
    - if post.draft?
      %span.label.label-info= t("author.post.status.draft")
    %span.actions
      = link_to translate('global.edit'), edit_post_path(post)
      = link_to translate('global.destroy'), post, :confirm => 'Are you sure?', :method => :delete
  %td
    - post.contents.each do |content|
      %span.small.gray.domen
        = content.shard_language.domain unless content.shard_language.nil?
        %span.badge= content.shard_language.language.code
        = link_to "comments", post_content_comments_path(post, content)
  %td
    %span.small.light-gray
      = post.created_at.strftime("%b %-d, %H:%M")
  %td
    %span.status{ class: post.workflow_state }= t("author.post.status.#{post.workflow_state}")
    %br
    - if post.delayed?
      %span.publish_at= "До " + post.publish_at.strftime("%b %-d, %H:%M")
  %td{class: "publish"}
    - if post.ready_for_publish?
      - if post.draft? && @shard_languages.length > 0
        = link_to translate('author.post.publish'), post_publish_path(post), class: %w(btn btn-primary btn-small btn-publish), remote: true, :'data-loading-text' => "Publishing..."
      - elsif post.delayed?
        = link_to translate('author.post.publish_now'), post_publish_path(post, now: true), class: %w(btn btn-small btn-publish), remote: true, :'data-loading-text' => "Publishing..."
  %td{class: "sticky view"}
    - if post.published?
      .sticky{ class: ("sticked" if post.sticky?) }
        - if post.sticky
          = link_to t('author.post.sticked'), "#", remote: true
        - else
          = link_to t('author.post.stick'), post_sticky_path(post), remote: true
    - if post.contents.size > 0
      - cnt=post.default_content_for_shard(@current_shard)
      %a{ href: ('http://'+cnt.shard_language.domain+(([80,443].include?(request.port)) ? '':':'+request.port.to_s)+main_app.blog_path(post)), class: %w(blacklink) }
        = t("author.post.preview")
        %i.icon.icon-share
