%tr
  %td
    = hidden_field_tag "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][id]", social_content.id
    = hidden_field_tag "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][terminal_id]", social_content.terminal.id
    %label.checkbox
      = check_box_tag "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][pending]", :pending, (social_content.publish? || social_content.published?)
      = social_content.terminal.account.service.name + " (" + social_content.terminal.name + ")"
      %span.label.counter 0
    .terminal-form
      .generated
        = radio_button_tag("#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][edited]", false, (social_content.edited.nil? || !social_content.edited), style: "float: left; margin-right: 5px", 'data-social-content-id' => social_content.tmp_id)
        %label{ for: "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][edited]", style: "float: left" }= "Generated content:"
        = text_area_tag "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][body]", "", cols: 10, rows: 4, disabled: social_content.edited, class: "span7 #{social_content.tmp_id} #{content.tmp_id}", readonly: true, 'data-provider' => social_content.terminal.account.provider
      .edited
        %button{ style: "margin: 5px 0 5px 91px;", class: %w(btn-success btn copy)}
          &darr;Copy&darr;
        = radio_button_tag("#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][edited]", true, (social_content.edited), style: "float: left; margin-right: 5px; margin-top: 21px;", 'data-social-content-id' => social_content.tmp_id)
        %label{ for: "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][edited]", style: "float: left; margin-top: 19px;" }= "Edited content:"
        = text_area_tag "#{as}[contents_attributes][#{content.tmp_id}][social_contents_attributes][#{social_content.tmp_id}][body]", social_content.body, cols: 10, rows: 4, disabled: !social_content.edited, class: "span7 #{social_content.tmp_id}", 'data-provider' => social_content.terminal.account.provider
  %td
    %a.btn.btn-small.btn-primary.show= t('author.post.show')
    %a.btn.btn-small.edit= t('author.post.edit')
