%header
  = link_to "Синхронизировать вручную", post_statistics_update_path(@post), class: %w(btn btn-primary pull-right)
  %h1 Аналитика
%section.content
  - if @current_shard.shard_languages.count > 1
    %div.form-top
      %ul.nav.nav-pills.langs
        - @post.contents.each_with_index do |content, i|
          - next unless content.is_enabled?
          %li{ "data-language-id" => content.shard_language.id, class: (i.zero? ? "active" : "") }
            %a{ href: "#content#{content.id}", "data-toggle" => "pill" }
              %i.arrow
              = content.shard_language.name
  .row-fluid
    .span8
      %h2.inline-block
        =t('author.post.statistics.capture')
      %a.help{ href: "#", "data-original-title" => t('author.post.statistics.capture_tooltip'), rel: "tooltip", "data-placement" => "right"}
        %i.icon-white.icon-info-sign
      .tab-content
        - @post.contents.each_with_index do |content, i|
          - next unless content.is_enabled?
          %div.form-options.tab-pane{ id: "content#{content.id}", class: (i.zero? ? "active" : "") }
            .box.post
              %strong
                = raw content.body
            .box.white.padded.post-social-data
              %ul
                - content.social_contents.each do |social_content|
                  - next unless social_content.published?
                  - next unless %w(vkontakte facebook).include? social_content.terminal.account.provider
                  %li
                    %span.t-name
                      %i.icon-social16{ class: social_content.terminal.account.provider }
                      = social_content.terminal.account.name
                      %a.terminal-name
                        %i.icon-globe
                        = social_content.terminal.name
                    %ul.post-functions
                      - unless social_content.social_content_stat.likes.zero?
                        %li.post-likes
                          .f-name
                            %a.badge.badge-important{"data-original-title" => t('author.post.statistics.terminal_likes'), "data-placement" => "top", href: "#", :rel => "tooltip"}
                              %i.icon-white.icon-heart
                              = social_content.social_content_stat.likes
                      - unless social_content.social_content_stat.shares.zero?
                        %li.post-shares
                          .f-name
                            %a.badge.badge-success{"data-original-title" => t('author.post.statistics.terminal_shared'), "data-placement" => "top", href: "#", :rel => "tooltip"}
                              %i.icon-white.icon-bullhorn
                              = social_content.social_content_stat.shares
                      - unless social_content.social_content_stat.comments.zero?
                        %li.post-comments
                          .f-name
                            %a.badge{"data-original-title" => t('author.post.statistics.terminal_comments'), "data-placement" => "top", :href => "#", :rel => "tooltip"}
                              %i.icon-white.icon-comment
                              = social_content.social_content_stat.comments
                          %ul
                            - social_content.social_content_comments.each do |comment|
                              %li
                                %a.c-name{ href: comment.account_url, target: "_blank", rel: "tooltip", "data-placement" => "top", "data-original-title" => comment.name }
                                  = image_tag (comment.avatar.nil? ? "author/user-empty.png" : comment.avatar)
                                = comment.body
    .span4
      %h2.inline-block
        =t('author.post.analitics.capture')
      %a.help{ href: "#", "data-original-title" => t('author.post.analitics.capture_tooltip'), rel: "tooltip", "data-placement" => "right"}
        %i.icon-white.icon-info-sign
      .form-options
        .box.white.padded.post-social-data
          %ul
            %li
              %h4.uppercase 
                =t('author.post.analitics.total_analitic_label')
              %a.badge.badge-important{"data-original-title" => t('author.dashboard.last_posts.likes'), "data-placement" => "top", href: "#", :rel => "tooltip"}
                %i.icon-white.icon-heart
                = @post.stats[:likes]
              %a.badge.badge-success{"data-original-title" => t('author.dashboard.last_posts.shared'), "data-placement" => "top", href: "#", :rel => "tooltip"}
                %i.icon-white.icon-bullhorn
                = @post.stats[:shares]
              -# %a.subsribe-counter{"data-original-title" => t('author.dashboard.last_posts.subsribers'), "data-placement" => "top", :href => post_statistics_path(post), :rel => "tooltip"}
              -#   %i.icon-info.icon-bookmark
              -#   1
              %a.badge{"data-original-title" => t('author.dashboard.last_posts.comments'), "data-placement" => "top", :href => "#", :rel => "tooltip"}
                %i.icon-white.icon-comment
                = @post.stats[:comments]