%header
  = link_to "Синхронизировать вручную", post_statistics_update_path(@post), class: %w(btn btn-primary pull-right)
  %h1 Аналитика
%section.content
  - if @current_shard.shard_languages.count > 1
    %div.form-top
      %ul.nav.nav-pills.langs
        - @post.contents.each_with_index do |content, i|
          - next unless content.is_enabled?
          %li{ "data-language-id" => content.shard_language.id, class: (i.zero? ? "active" : "") }
            %a{ href: "#content#{content.id}", "data-toggle" => "pill" }
              %i.arrow
              = content.shard_language.name
  .row-fluid
    .span8
      %h2.inline-block Экспорт данных из соцсетей
      %a.help{ href: "#", "data-original-title" => "Подробная статистика по данной записи из всех соцсетей, где она опубликована", rel: "tooltip", "data-placement" => "right"}
        %i.icon-white.icon-info-sign
      .form-options.tab-content
        - @post.contents.each_with_index do |content, i|
          - next unless content.is_enabled?
          %div.form-options.tab-pane{ id: "content#{content.id}", class: (i.zero? ? "active" : "") }
            .box.post
              %strong
                = raw content.body
            .box.white.padded.post-social-data
              %ul
                - content.social_contents.each do |social_content|
                  - next unless social_content.published?
                  - next unless %w(vkontakte facebook).include? social_content.terminal.account.provider
                  %li
                    %span.t-name
                      %i.icon-social16{ class: social_content.terminal.account.provider }
                      = social_content.terminal.account.name
                      %a.terminal-name
                        %i.icon-globe
                        = social_content.terminal.name
                    %ul.post-functions
                      %li.post-likes
                        .f-name
                          %a.likes-counter{"data-original-title" => "Количество лайков в этом терминале", "data-placement" => "top", href: "#", :rel => "tooltip"}
                            %i.icon-important.icon-heart
                            = social_content.social_content_stat.likes
                      %li.post-shares
                        .f-name
                          %a.shared-counter{"data-original-title" => "Количество поделившихся", "data-placement" => "top", href: "#", :rel => "tooltip"}
                            %i.icon-success.icon-bullhorn
                            = social_content.social_content_stat.shares
                      %li.post-comments
                        .f-name
                          %a.comment-counter{"data-original-title" => "Количество комментариев", "data-placement" => "top", :href => "#", :rel => "tooltip"}
                            %i.icon-default.icon-comment
                            = social_content.social_content_stat.comments
    .span4
      %h2.inline-block
      %a.help{ href: "#", "data-original-title" => "Динамика изменений показателей социальной активности", rel: "tooltip", "data-placement" => "right"}
        %i.icon-white.icon-info-sign
      .form-options
        .box.white.padded.post-social-data
          %ul
            %li
              %h4.uppercase Всего по соцсетям
              %a.likes-counter{"data-original-title" => "Количество лайков в этом терминале", "data-placement" => "top", href: "#", :rel => "tooltip"}
                %i.icon-important.icon-heart
                = @post.stats[:likes]
              %a.shared-counter{"data-original-title" => "Количество поделившихся", "data-placement" => "top", href: "#", :rel => "tooltip"}
                %i.icon-success.icon-bullhorn
                = @post.stats[:shares]
              -# %a.subsribe-counter{"data-original-title" => "Количество подписчиков", "data-placement" => "top", :href => post_statistics_path(post), :rel => "tooltip"}
              -#   %i.icon-info.icon-bookmark
              -#   1
              %a.comment-counter{"data-original-title" => "Количество комментариев", "data-placement" => "top", :href => "#", :rel => "tooltip"}
                %i.icon-default.icon-comment
                = @post.stats[:comments]