!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: "" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Somebook Author
    = stylesheet_link_tag    "author"
    = javascript_include_tag "author"
    %link{ href: "http://vjs.zencdn.net/c/video-js.css", rel: "stylesheet" }
    %link{ href: "http://fonts.googleapis.com/css?family=PT+Serif+Caption|PT+Sans+Narrow|PT+Sans&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css" }
    %script{ src: "http://vjs.zencdn.net/c/video.js" }
    = csrf_meta_tags
  %body{ class: @section_class }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "#{@current_shard.name.capitalize}", root_path, class: "brand"
          = render :partial => "layouts/nav"

    -if @pending_social_contents && @pending_social_contents.size > 0 && @pending_social_contents.first && @pending_social_contents.first.terminal && @pending_social_contents.first.terminal.account
      .container
        .alert.alert-warning.pending_content
          -if Rails.env.test?
            = link_to  t("author.you_have_pending_social_contents"),@pending_social_contents.first.terminal.account.ext_url
          -else
            = link_to  t("author.you_have_pending_social_contents"),@pending_social_contents.first.terminal.account.ext_url, target: "blank"
    .header-bar
    .container.page= yield
:erb
  <script type="text/javascript">
      var reformalOptions = {
          project_id: 84390,
          project_host: "somebook.reformal.ru",
          tab_orientation: "left",
          tab_indent: "50%",
          tab_bg_color: "#B33333",
          tab_border_color: "#FFFFFF",
          tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
          tab_border_width: 2
      };

      (function() {
          var script = document.createElement('script');
          script.type = 'text/javascript'; script.async = true;
          script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
          document.getElementsByTagName('head')[0].appendChild(script);
      })();
  </script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://somebook.reformal.ru">Oтзывы и предложения для Самбук</a></noscript>